<section class="gallery-section">
  <div class="container gallery-container">
    <h2 class="gallery-header">Catalog</h2>
    <ul class="gallery-list">
      <li class="gallery-item">
        <div class="gallery-photo-container">
          <picture>
            <source srcset="" media="(min-width: 1280px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(max-width: 767,98px)" />
            <img
              class="gallery-watch-photo"
              src=""
              alt="fenix_pro_sapphire"
              width="304"
              height="312"
            />
          </picture>
        </div>
        <div class="gallery-name-container">
          <h3 class="gallery-watch-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="gallery-watch-price">€500</p>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-photo-container">
          <picture>
            <source srcset="" media="(min-width: 1280px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(max-width: 767,98px)" />
            <img
              class="gallery-watch-photo"
              src=""
              alt="marq_athlete"
              width="304"
              height="312"
            />
          </picture>
        </div>
        <div class="gallery-name-container">
          <h3 class="gallery-watch-name">Garmin Marq Athlete</h3>
          <p class="gallery-watch-price">€450</p>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-photo-container">
          <picture>
            <source srcset="" media="(min-width: 1280px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(max-width: 767,98px)" />
            <img
              class="gallery-watch-photo"
              src=""
              alt="garmin_descent"
              width="304"
              height="312"
            />
          </picture>
        </div>
        <div class="gallery-name-container">
          <h3 class="gallery-watch-name">Garmin Descent MK1</h3>
          <p class="gallery-watch-price">€680</p>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-photo-container">
          <picture>
            <source srcset="" media="(min-width: 1280px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(max-width: 767,98px)" />
            <img
              class="gallery-watch-photo"
              src=""
              alt="delta_px"
              width="304"
              height="312"
            />
          </picture>
        </div>
        <div class="gallery-name-container">
          <h3 class="gallery-watch-name">Garmin D2 Delta PX</h3>
          <p class="gallery-watch-price">€380</p>
        </div>
      </li>
      <li class="gallery-item not-show-on-mobile">
        <div class="gallery-photo-container">
          <picture>
            <source srcset="" media="(min-width: 1280px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(max-width: 767,98px)" />
            <img
              class="gallery-watch-photo"
              src=""
              alt="fenix_solar"
              width="304"
              height="312"
            />
          </picture>
        </div>
        <div class="gallery-name-container">
          <h3 class="gallery-watch-name">Garmin Fenix 6 Pro Solar</h3>
          <p class="gallery-watch-price">€400</p>
        </div>
      </li>
      <li class="gallery-item not-show-on-mobile">
        <div class="gallery-photo-container">
          <picture>
            <source srcset="" media="(min-width: 1280px)" />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(max-width: 767,98px)" />
            <img
              class="gallery-watch-photo"
              src=""
              alt="tube_watch"
              width="304"
              height="312"
            />
          </picture>
        </div>
        <div class="gallery-name-container">
          <h3 class="gallery-watch-name">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="gallery-watch-price">€395</p>
        </div>
      </li>
    </ul>
  </div>
  <button class="btn_details">Show more</button>
</section>
