<section class="section">
  <div class="container gallery-container">
    <h2 class="gallery-header">Catalog</h2>
    <ul class="gallery-list">
      <li class="gallery-item">
        <div class="gallery-photo-container">
          <picture>
            <source
              srcset="
                /img/catalog/garmin-fenix7x-desktop.webp    1x,
                /img/catalog/garmin-fenix7x-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/catalog/garmin-fenix7x-tablet.webp    1x,
                /img/catalog/garmin-fenix7x-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/catalog/garmin-fenix7x-mobile.webp"
              media="(max-width: 767,98px)"
            />
            <img
              class="gallery-watch-photo"
              src="/img/catalog/garmin-fenix7x-mobile.webp"
              alt="fenix_pro_sapphire"
              width="304"
              height="312"
            />
          </picture>
        </div>
        <div class="gallery-name-container">
          <h3 class="gallery-watch-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="gallery-watch-price">€500</p>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-photo-container">
          <picture>
            <source
              srcset="
                /img/catalog/garmin-marq-desktop.webp    1x,
                /img/catalog/garmin-marq-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/catalog/garmin-marq-tablet.webp    1x,
                /img/catalog/garmin-marq-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/catalog/garmin-marq-mobile.webp"
              media="(max-width: 767,98px)"
            />
            <img
              class="gallery-watch-photo"
              src="/img/catalog/garmin-marq-mobile.webp"
              alt="marq_athlete"
              width="304"
              height="312"
            />
          </picture>
        </div>
        <div class="gallery-name-container">
          <h3 class="gallery-watch-name">Garmin Marq Athlete</h3>
          <p class="gallery-watch-price">€450</p>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-photo-container">
          <picture>
            <source
              srcset="
                /img/catalog/garmin-descent-desktop.webp    1x,
                /img/catalog/garmin-descent-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/catalog/garmin-descent-tablet.webp    1x,
                /img/catalog/garmin-descent-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/catalog/garmin-descent-mobile.webp"
              media="(max-width: 767,98px)"
            />
            <img
              class="gallery-watch-photo"
              src="/img/catalog/garmin-descent-mobile.webp"
              alt="garmin_descent"
              width="304"
              height="312"
            />
          </picture>
        </div>
        <div class="gallery-name-container">
          <h3 class="gallery-watch-name">Garmin Descent MK1</h3>
          <p class="gallery-watch-price">€680</p>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-photo-container">
          <picture>
            <source
              srcset="
                /img/catalog/garmin-d2-desktop.webp    1x,
                /img/catalog/garmin-d2-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/catalog/garmin-d2-tablet.webp    1x,
                /img/catalog/garmin-d2-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/catalog/garmin-d2-mobile.webp"
              media="(max-width: 767,98px)"
            />
            <img
              class="gallery-watch-photo"
              src="/img/catalog/garmin-d2-mobile.webp"
              alt="delta_px"
              width="304"
              height="312"
            />
          </picture>
        </div>
        <div class="gallery-name-container">
          <h3 class="gallery-watch-name">Garmin D2 Delta PX</h3>
          <p class="gallery-watch-price">€380</p>
        </div>
      </li>
      <li class="gallery-item not-show-on-mobile">
        <div class="gallery-photo-container">
          <picture>
            <source
              srcset="
                /img/catalog/garmin-fenix6-desktop.webp    1x,
                /img/catalog/garmin-fenix6-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/catalog/garmin-fenix6-tablet.webp    1x,
                /img/catalog/garmin-fenix6-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <img
              class="gallery-watch-photo"
              src="/img/catalog/garmin-fenix6-tablet.webp "
              alt="fenix_solar"
              width="304"
              height="312"
            />
          </picture>
        </div>
        <div class="gallery-name-container">
          <h3 class="gallery-watch-name">Garmin Fenix 6 Pro Solar</h3>
          <p class="gallery-watch-price">€400</p>
        </div>
      </li>
      <li class="gallery-item not-show-on-mobile">
        <div class="gallery-photo-container">
          <picture>
            <source
              srcset="
                /img/catalog/tube-watch-desktop.webp    1x,
                /img/catalog/tube-watch-desktop@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/catalog/tube-watch-tablet.webp    1x,
                /img/catalog/tube-watch-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
            />

            <img
              class="gallery-watch-photo"
              src="/img/catalog/tube-watch-tablet.webp"
              alt="tube_watch"
              width="304"
              height="312"
            />
          </picture>
        </div>
        <div class="gallery-name-container">
          <h3 class="gallery-watch-name">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="gallery-watch-price">€395</p>
        </div>
      </li>
    </ul>
  </div>
  <button class="btn_details" type="button">Show more</button>
</section>
