<section class="container">
    <div class="container-hero">
        <div class="title-box">
            <h1 class="hero-title">
                Welcome to our <span>collection</span> of premium watches
            </h1>
            <p class="hero-item">
                Our watches are not just timepieces, but also an expression of your
                personality and lifestyle. From classic designs to modern ones, we have
                a watch to suit every taste and occasion.
            </p>
        </div>
        <div class="Hero-reviews">
            <div class="hero-img">
                <img src="/img/photo-left-desktop.webp" alt="Victoria Romashenko" width="44" height="44" />
            </div>
            <div class="hero-img">
                <img src="/img/photo-center-desktop.webp" alt="John Wax" width="44" height="44" />
            </div>
            <div class="hero-img">
                <img src="/img/photo-right-desktop.webp" alt="Anastasia Trachuk" width="44" height="44" />
            </div>
            <a class="hero-link" href="#footer-main">Scroll down</a>
        </div>
        <picture class="hero-fon">
            <source srcset="/img/watch-hero-desktop.webp 1x, /img/watch-hero-desktop@2x.webp 2x"
                media="(min-width: 1280px)" />
            <source srcset="/img/watch-hero-tablet.webp 1x, /img/watch-hero-tablet@2x.webp 2x"
                media="(min-width: 768px)" />
            <source srcset="/img/watch-hero-mobile.webp 1x, /img/watch-hero-mobile@2x.webp 2x"
                media="(max-width: 768px)" />
            <img src="/img/watch-hero-desktop.webp" alt="Watch" class="hero-fon-img" />
        </picture>
    </div>
</section>