.catalog-container {
  width: 335px;
}
@media screen and (min-width: 768px) {
  .catalog-container {
    width: 704px;
  }
}
@media screen and (min-width: 1250px) {
  .catalog-container {
    width: 1150px;
  }
}
.catalog-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-transform: capitalize;
  text-align: start;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .catalog-header {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .catalog-list {
    row-gap: 32px;
    column-gap: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .catalog-list {
    row-gap: 32px;
    column-gap: 23px;
  }
}
.catalog-item {
  width: 335px;
}
@media screen and (min-width: 768px) {
  .catalog-item {
    width: calc((100% - 16px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .catalog-item {
    width: calc((100% - 32px) / 3);
  }
}

.catalog-photo-container {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 335px;
  background-color: #f3f3f3;
}
@media screen and (min-width: 768px) {
  .catalog-photo-container {
    width: 344px;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-photo-container {
    width: 368px;
  }
}
.watch-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .watch-name {
    font-size: 20px;
    line-height: 1;
  }
}
.watch-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}
